{% extends 'layout.html' %}
{% block body %}
    <div style="margin-bottom: 100px;">
        <div class="center container play_title" style="margin-top: 50px;">
            <h1>あなたのターン</h1>
            <div>
                <h2 class="center">あなたの番号は</h2>
                <div class="center">
                    <p style="display:inline-block; font-size: 50px;">{{ my_num.first }} </p>
                    <p style="display:inline-block; font-size: 50px;">{{  my_num.second }} </p>
                    <p style="display:inline-block; font-size: 50px;">{{  my_num.third }} </p>
                </div>
                <h2 class="center">です</h2>
            </div>
            <h2>相手の数字を予測してください。</h2>
        </div>
        <div class="container center">
            <form action="{{ url_for('play') }}" method="POST">
                <div>
                    <input type="number" min="0" max="9" class="number" name="first">
                    <input type="number" min="0" max="9" class="number" name="second">
                    <input type="number" min="0" max="9" class="number" name="third">
                </div>
                <div>
                    <input type="submit" value="決定" style="margin-top: 20px;" class="btn btn-primary btn-lg">
                </div>
            </form>
        </div>
    </div>



{% endblock %}